{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "trailingComma": "es5",
    "semi": true,
    "singleQuote": true,
    "printWidth": 120
}
