main {
    height:100%;
}
.hidden-on-start {
    display: none;
}
#submit-spells {
    display: none;
}
.hidden-on-start1 {
    display: none;
}
.hidden-on-start2 {
    display: none;
}
.endContainer {
    display:none;
}