* {
    overflow-x: hidden;
}

body {
    position: relative;
}

main {
    height: 100vh;

}

.card-panel {
    box-shadow: none;
}

.side {
    height: 100%;
    width: auto;

}


.row {
    margin-bottom: 0px;
}

.c-pan {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    margin-right: .4rem;

}

ul img {
    margin-right: 1.3rem;
    margin-top: 15px;
    margin-bottom: 0px;
}

.main-card {
    height: 82vh;
    margin-top: 2.15rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
    background-image: url(/assets/images/charsheet.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-wrapper {
    overflow: hidden;
}

nav {
    box-shadow: none;
}

#burger:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.2s ease-in;
}

#vcs:hover, #ins:hover {
    transform: scale(1.05);
}



.card-Title {
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    padding-top: 1.5rem;
    text-shadow: 3px 3px 2px black;
}

#ccCard {
    background-image: url(/assets/images/player.png);
    background-size: cover;
    background-position: center -10px;
    background-repeat: repeat;
    color: red;
    min-width: 15rem;
    height: 19vh;
    overflow: hidden;
    margin-right: 10rem;
    
}

#statCard {
    background-image: url(/assets/images/stats.png);
    background-position: left;
    color: red;
    min-width: 15rem;
    height: 19vh;
    overflow: hidden;
    margin-right: 10rem;
    
}

#equipCard {
    background-image: url(/assets/images/equip.png);
    background-size: cover;
    color: red;
    min-width: 15rem;
    height: 19vh;
    overflow: hidden;
    margin-right: 10rem;
}

#spellCard {
    background-image: url(/assets/images/spells.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: red;
    min-width: 15rem;
    height: 19vh;
    overflow: hidden;
    margin-right: 10rem;
}

footer {
    font-size: xx-large;
}

#ccCard:hover,
#statCard:hover,
#equipCard:hover,
#spellCard:hover {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, .6);
    border: 3px solid black;
    cursor: pointer;
}

#ccCard:active,
#statCard:active,
#equipCard:active,
#spellCard:active {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 1);
    border: 5px solid green;
    cursor: pointer;
    user-select: none;
    opacity: .1;

}


@media only screen and (max-width: 701px) {
    .s12 {
        width: 100% !important;
    }

    .s9 {
        width: 75% !important;
    }

    .s8 {
        width: 70% !important;
    }
    .main-card {
        margin: 0;

    }

    .section {
        padding: 0;
        margin: 0;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
    }

    #ccCard,
    #statCard,
    #equipCard,
    #spellCard {
        margin-right: 0;
    }

    #ccCard {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 800px) {
    #vcs,#ins {
        width: 10rem;
        font-size: smaller;
    }

}

@media screen and (max-width: 580px) {
    #vcs, #ins {
        width: 8rem;
        font-size: xx-small;
    }

}