body {
    position: relative;
    background-image: linear-gradient(
        to top left,
        rgb(73, 65, 65),
        rgb(173, 85, 85),
        rgb(173, 85, 85),
        rgb(60, 49, 49)
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
}

main {
    height: 100vh;
}
.main {
    height: 100%;
}
.card-panel {
    box-shadow: none;
}

.nav-wrapper,
#header {
    box-shadow: 2px 2px 2px 2px black;
    background-color: rgb(37, 34, 34);
}

.side {
    height: 100%;
    width: auto;
}
.row {
    margin-bottom: 5.5rem;
}

.c-pan {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    margin-right: 0.4rem;
}

ul img {
    margin-right: 1.3rem;
    margin-top: 15px;
    margin-bottom: 0px;
}
.page-footer {
    background-color: rgb(37, 34, 34);
    box-shadow: 2px 2px 2px 4px black;
}
#resetCharacter {
    margin: 0 2rem 0 0;
    background-image: linear-gradient(rgb(56, 50, 50), rgb(29, 23, 23));
    border: 0.2px solid rgba(255, 255, 255, 0.4);
    margin-left: 1.1rem;
}
#resetCharacter:hover {
    transform: scale(1.05);
    border: 1px solid white;
}
.main-card {
    height: 82vh;
    margin-top: 2.15rem;
    margin-left: 3rem;
    z-index: 5;
}

.nav-wrapper {
    overflow: hidden;
}

nav {
    box-shadow: none;
}
#burger {
    margin: 1rem 0 0 1.5rem;
    user-select: none;
    filter: invert();
}

#burger:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.2s ease-in;
}
#vcs,
#ins {
    margin: 0 2rem 0 0;
    background-image: linear-gradient(rgb(56, 50, 50), rgb(29, 23, 23));
    border: 0.2px solid rgba(255, 255, 255, 0.4);
}
#vcs:hover,
#ins:hover {
    transform: scale(1.05);
    border: 1px solid white;
}

.card-Title {
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    padding-top: 1.5rem;
    text-shadow: 3px 3px 2px black;
}

#ccCard {
    background-image: url(/DDCharacterCreation/assets/images/player2.jpeg);
    background-size: cover;
    background-position: center;
    color: red;
    min-width: 15rem;
    height: 19vh;
    overflow: hidden;
    margin-top: 1rem;
}

#statCard {
    background-image: url(/DDCharacterCreation/assets/images/stats2.jpeg);
    background-position: center;
    background-size: cover;
    color: red;
    min-width: 15rem;
    height: 19vh;
    overflow: hidden;
}

#equipCard {
    background-image: url(/DDCharacterCreation/assets/images/equip2.jpeg);
    background-size: cover;
    background-position: 0 -45px;
    color: red;
    min-width: 15rem;
    height: 19vh;
    overflow: hidden;
}

#spellCard {
    background-image: url(/DDCharacterCreation/assets/images/spells2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: red;
    min-width: 15rem;
    height: 19vh;
    overflow: hidden;
}

footer {
    font-size: xx-large;
}

#ccCard:hover,
#statCard:hover,
#equipCard:hover,
#spellCard:hover {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.6);
    border: 3px solid black;
    cursor: pointer;
}

#ccCard:active,
#statCard:active,
#equipCard:active,
#spellCard:active {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 1);
    border: 5px solid red;
    cursor: pointer;
    user-select: none;
    opacity: 0.7;
}

.modal-footer a {
    font-size: x-large;
    font-weight: bold;
}
.modal-content {
    font-size: 2rem;
    height: 50vh;
    text-align: center;
    margin: 0 1rem;
}
.modal-content h4 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.switch {
    overflow: visible;
}
/* From Character */
#lockIn {
    margin: 10px auto;
}
/* From Tutorial */
.stats {
    color: white;
}
#returnHome {
    margin-bottom: 0.2rem;
}

/* From Spells */
.hidden-on-start {
    display: none;
}
#submit-spells {
    display: none;
}
.hidden-on-start1 {
    display: none;
}
.hidden-on-start2 {
    display: none;
}
.endContainer {
    display: none;
}
#spellsBody {
    background-repeat: no-repeat;
}
/* From Stats  */
#returnBtn {
    display: none;
}
.nav-wrapper a {
    user-select: none;
}
.highlight {
    text-decoration: underline;
}

@media only screen and (max-width: 701px) {
    .s12 {
        width: 100% !important;
    }

    .s9 {
        width: 75% !important;
    }

    .s8 {
        width: 70% !important;
    }
    .main-card {
        margin: 0;
    }

    .section {
        padding: 0;
        margin: 0;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
    }

    #ccCard,
    #statCard,
    #equipCard,
    #spellCard {
        margin-right: 0;
    }

    #ccCard {
        margin-top: 5rem;
    }
    #resetCharacter {
        margin-bottom: 1rem;
    }
}


@media screen and (max-width: 800px) {
    #vcs,
    #ins {
        width: 10rem;
        font-size: smaller;
    }
    #resetCharacter {
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    #vcs,
    #ins {
        width: 6rem;
        font-size: xx-small;
        margin-bottom: 0.5rem;
        margin-right: 0;
    }
    #resetCharacter {
        width: 5rem;
        font-size: xx-small;
        margin-bottom: 0.7rem;
    }
}
/* From Character */
@media screen and (max-width: 580px) {
    #vcs,
    #ins {
        width: 8rem;
        font-size: xx-small;
    }
}
